- model_class = UserFilter
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @user_filter.user_id
%p
  %strong= model_class.human_attribute_name(:filter_name) + ':'
  %br
  = @user_filter.filter_name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), user_filters_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_filter_path(@user_filter), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), user_filter_path(@user_filter), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
