%h1 Listing marital_statuses

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @marital_statuses.each do |marital_status|
    %tr
      %td= marital_status.name
      %td= link_to 'Show', marital_status
      %td= link_to 'Edit', edit_marital_status_path(marital_status)
      %td= link_to 'Destroy', marital_status, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Marital status', new_marital_status_path
