- model_class = UserFilterAttribute
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_filter_id)
      %th= model_class.human_attribute_name(:filter_attribute)
      %th= model_class.human_attribute_name(:field_type)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @user_filter_attributes.each do |user_filter_attribute|
      %tr
        %td= link_to user_filter_attribute.id, user_filter_attribute_path(user_filter_attribute)
        %td= user_filter_attribute.user_filter_id
        %td= user_filter_attribute.filter_attribute
        %td= user_filter_attribute.field_type
        %td=l user_filter_attribute.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_filter_attribute_path(user_filter_attribute), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), user_filter_attribute_path(user_filter_attribute), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_user_filter_attribute_path, :class => 'btn btn-primary'
