= f.input :user_id, :as => :hidden
= f.input :gender, :collection => ['Male', 'Female']
= f.input :tob
= f.input :pob
= f.input :salary
= f.input :caste_id
= f.input :sub_caste_id
= f.input :height
= f.input :religion_id
= f.input :affluence_id
= f.input :profession
= f.input :education
= f.input :work_city
= f.input :work_state
= f.input :food_habit
= f.input :mangalik
= f.input :special_status
