= f.input :specs
= f.input :spec_power
= f.input :marital_status
= f.input :mother_tongue
= f.input :complexion
= f.input :body_type
= f.input :weight
= f.input :father_status
= f.input :mother_status
= f.input :father_profession
= f.input :mother_profession
= f.input :native
= f.input :family_values
= f.input :elder_brothers
= f.input :elder_sisters
= f.input :younger_brothers
= f.input :younger_sisters
