= simple_form_for(@store) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :latitude
    = f.input :longitude
    = f.input :store_classification

  .form-actions
    = f.button :submit
